/*Changing some of the body formats*/

body {
    font-family: 'Helvetica';
    background-color: #70acff;
    color: #006060;
    font-size: 15pt
}

h1 {
    color: #804600;
}

/*Changed footer color*/

footer {
    color: #4f5a65;
}

/*Some formatting for the nav at the top of all the pages*/

.topnav {
    display: block;
    color: #0000e0;
    text-align: left;
    padding: 14px 16px;
    font-size: 19px;
}

/*Adjusting for text indent on paragraphs*/

p {
    text-indent: 40px;
}
